{% extends 'base.html' %}

{% block body %}

	<div class="page-top-info">
		<div class="container">
			<h4>Kontakt</h4>
			<div class="site-pagination">
				<a href="">Kryefaqja</a> /
				<a href="">Kontakt</a>
			</div>
		</div>
	</div>

	<section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 contact-info">
					<h3>Informacionet e kontaktit</h3>
					<p>Mamurras 4704, Albania</p>
					<p>+355 69 213 1544</p>
					<p>redian1marku@gmail.com</p>
					<div class="contact-social">
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="https://facebook.com/redi.marku.9"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/redian_marku"><i class="fa fa-twitter"></i></a>
					</div>
					<form class="contact-form">
						<input type="text" placeholder="Emri">
						<input type="text" placeholder="Email">
						<textarea 	placeholder="Na dergoni nje mesazh ose feedback..."></textarea>
						<button class="site-btn">Dergo</button>
					</form>
				</div>
			</div>
		</div>
		<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11938.47886898793!2d19.693752585172785!3d41.577474299469046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1579814883806!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
	</section>
<br><br><br>
{% endblock %}