{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Regjistrohu</h5>
                
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                  </div>
                  {% endfor %}
                
                <form class="form-signin" method='post'>{% csrf_token %}
                
                   
                  {{ form.as_p }}
                    
      
                  
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Regjistrohu</button>
                  <hr class="my-4">
                  <small class="text-center"><a href="#">Tashme je regjistruar, Hyr!</a></small>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}